.box {
  width: 600px;
  height: 600px;
  background: pink;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.horizontal {
  width: 560px;
  height: 1px;
  position: absolute;
  left: 20px;
  background: #FFFFFF;
  transform: translate3d(-300%, 0, 0);
  animation: through 1s ease-in forwards; }

.vertical {
  height: 560px;
  width: 1px;
  position: absolute;
  top: 20px;
  background: #FFFFFF;
  transform: translate3d(0, -300%, 0);
  animation: down 1s ease-in forwards; }

.chess {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  position: relative;
  z-index: 999; }

.black {
  background: black; }

.white {
  background: white; }

.horizontal:nth-of-type(1) {
  top: 20px;
  animation-delay: 50ms; }

.vertical:nth-of-type(1) {
  left: 20px;
  animation-delay: 50ms; }

.horizontal:nth-of-type(2) {
  top: 60px;
  animation-delay: 100ms; }

.vertical:nth-of-type(2) {
  left: 60px;
  animation-delay: 100ms; }

.horizontal:nth-of-type(3) {
  top: 100px;
  animation-delay: 150ms; }

.vertical:nth-of-type(3) {
  left: 100px;
  animation-delay: 150ms; }

.horizontal:nth-of-type(4) {
  top: 140px;
  animation-delay: 200ms; }

.vertical:nth-of-type(4) {
  left: 140px;
  animation-delay: 200ms; }

.horizontal:nth-of-type(5) {
  top: 180px;
  animation-delay: 250ms; }

.vertical:nth-of-type(5) {
  left: 180px;
  animation-delay: 250ms; }

.horizontal:nth-of-type(6) {
  top: 220px;
  animation-delay: 300ms; }

.vertical:nth-of-type(6) {
  left: 220px;
  animation-delay: 300ms; }

.horizontal:nth-of-type(7) {
  top: 260px;
  animation-delay: 350ms; }

.vertical:nth-of-type(7) {
  left: 260px;
  animation-delay: 350ms; }

.horizontal:nth-of-type(8) {
  top: 300px;
  animation-delay: 400ms; }

.vertical:nth-of-type(8) {
  left: 300px;
  animation-delay: 400ms; }

.horizontal:nth-of-type(9) {
  top: 340px;
  animation-delay: 450ms; }

.vertical:nth-of-type(9) {
  left: 340px;
  animation-delay: 450ms; }

.horizontal:nth-of-type(10) {
  top: 380px;
  animation-delay: 500ms; }

.vertical:nth-of-type(10) {
  left: 380px;
  animation-delay: 500ms; }

.horizontal:nth-of-type(11) {
  top: 420px;
  animation-delay: 550ms; }

.vertical:nth-of-type(11) {
  left: 420px;
  animation-delay: 550ms; }

.horizontal:nth-of-type(12) {
  top: 460px;
  animation-delay: 600ms; }

.vertical:nth-of-type(12) {
  left: 460px;
  animation-delay: 600ms; }

.horizontal:nth-of-type(13) {
  top: 500px;
  animation-delay: 650ms; }

.vertical:nth-of-type(13) {
  left: 500px;
  animation-delay: 650ms; }

.horizontal:nth-of-type(14) {
  top: 540px;
  animation-delay: 700ms; }

.vertical:nth-of-type(14) {
  left: 540px;
  animation-delay: 700ms; }

.horizontal:nth-of-type(15) {
  top: 580px;
  animation-delay: 750ms; }

.vertical:nth-of-type(15) {
  left: 580px;
  animation-delay: 750ms; }

@keyframes down {
  from {
    transform: translate3d(0, -300%, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes through {
  from {
    transform: translate3d(-300%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
